.header-content {
    width: 100%;
    font-size: 2rem;
    /* background: rgb(207, 206, 206); */
}

.header-content > h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgb(85, 188, 214);
    border-radius: 20rem;
    padding: 1rem 2rem 1rem 2rem ;
    
}