.sidebar {
    height: 100vh;
    width: 20rem;
    background-color: burlywood;
}

.day-info {
    font-size: 2rem;
    width: 100%;
    background: rgb(207, 206, 206);
    border-top: 1px solid blue;
}

.day-info > p {
    padding: 1rem;
}

.sidebar-todo {
    width: 100%;
    height: 15rem;
    background-color: darkgoldenrod;
}

.sidebar-todo-headline {
    width: 100%;
    height: 2.5rem;
    background-color: darksalmon;
    padding-left: 0.5rem;
}

.sidebar-todo-headline > i {
    font-size: 2rem;
}