.sidebar {
  margin-left: 1rem;
  min-width: 17rem;
  height: 90vh;
  background-color: rgb(185, 185, 185);
  border-radius: 2rem;
}

.day-info {
  font-size: 2rem;
  width: 100%;
  /* color: white; */
}

#day {
  font-size: 3rem;
}

#date {
  font-size: 1.5rem;
}

#clock {
  font-size: 1.5rem;
}

.sidebar-todo {
  margin-top: 2rem;
  padding-bottom: 1rem;
  width: 95%;
  background-color: rgb(176, 226, 233);
  border-radius: .5rem;
  /* border-top-left-radius: .5rem;
  border-top-right-radius: .5rem; */
}

.sidebar-todo-headline {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
}

.sidebar-todo-headline > i {
  font-size: 2rem;
}

.todo-item {
  width: 90%;
  background-color: rgb(253, 249, 249);
  margin: 1rem 1rem 0 1rem;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  border-radius: .2rem;
}

.todo-item-icons > i {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.todo-info > h5 {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
