@media screen and (max-width: 768px) {
  main {
    justify-content: center;
  }

  .header-content {
    position: relative;
    width: 100%;
  }
  .sidebar {
    position: absolute;
    width: 95%;
    min-height: 10rem;
    margin-left: 0;
  }

  .sidebar-todo {
    margin-bottom: 1rem;
  }

  .date-clock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #day {
    font-size: 2rem;
  }

  .calendar-container {
    display: none;
    background: rgb(121, 121, 121);
    border-radius: 1rem;
    position: absolute;
    margin: 0;
    padding: 0.2rem;
  }
  
  #calendar-btn {
    display: unset;
    cursor: pointer;
  }
  .calendar {
    width: 95vw;
    gap: 2px;
  }

  .day-card {
    max-width: 6rem;
  }
  
  .day-card-top {
    width: 100%;
    margin-left: unset;
  }
  #day-card-date {
    font-size: 2rem;
    margin-left: .2rem;
  }
  
  .day-card-todo {
    background: #ff6565 60%;
    border-radius: 100rem;
    margin-right: .5rem;
    margin-top: .2rem;
    height: 2rem;
    display: flex;
    align-content: center;
    align-items: center;
  }

  #todo-notification {
    padding: .5rem .5rem .5rem .5rem;
    font-size: 1rem;
  }

  .holiday > .day-card-bottom {
    margin-left: .6rem;
  }

  #calendar-btn {
    cursor: pointer;
  }
  .show {
    position: absolute;
    display: unset;
  }
  #hide {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%, -50%);
  }

  .selected {
    border: 2px solid red;
  }
}

@media screen and (max-width: 630px) {
  #calendar-btn {
    display: none;
  }
  
}

@media screen and (max-width: 346px) {
  .sidebar {
    position: absolute;
    width: 100%;
  }
  .day-names {
    display: none;
  }
  .calendar {
    position: absolute;
    width: 50px;
  }
}
