* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.calendar-container{
    flex-grow: 1;
}
.calendar{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 100vh;
}


.day-card {
    background: #E0E0E0;
    border: 3px solid #A5A5A5;
}

.day-card-top {
    margin-left: 1rem;
    margin-right: 1rem;
}

#day-card-date {
    font-size: 5rem;
}

.day-card-todo {
    background: #9F8566 60%;
    border-radius: 100rem;
    margin-top: 1rem;
}

#todo-notification {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2.5rem;
}

.selected {
    background: #B7B7B7;
    border: 3px solid #696868;
}

.holiday > .day-card-top > .date-number > p {
    color: red;
}

.holiday >.day-card-bottom > p {
    margin-top: 1rem;
    font-size: 2.5rem;
    color: red;
}


.day-name{
    background-color: rgb(163, 198, 231);
    color: rgb(43, 53, 80);
    text-align: center;
    flex-grow: 1;
}

@media screen and (max-width:768px) {
    .calendar{
        display: none;
        position: absolute;
        width: 100%;
    }

    #calendar-btn{
        cursor: pointer;
    }

    .show{
        position: absolute;
        display: grid;
    }

    .close-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        cursor: pointer;
    }
}

@media screen and (max-width:346px) {
    .calendar{
        position: absolute;
        width: 50px;
    }

    
}
